### Python ###

# Virtual environment
/.venv/

# Keras models
*.keras

### Other Stuff ###

# User-specific files
*.user

# Visual Studio Code cache/options directory
.vscode/

# JetBrains CLion cache/options directory
.idea/
